* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #050505;
  height: auto;
  min-height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}